.hero {
  background-color: $background-color-gray;
  border-bottom: 2px solid $section-border-color;
  padding: 100px $max-section-padding;

  @media screen and (max-width: $media-mid-width) and (min-width: $media-min-width) {
    padding: 100px $mid-section-padding;
  }

  @media screen and (max-width: $media-min-width) {
    padding: 100px $min-section-padding;
    min-width: 380px;
  }

  @media only screen
    and (min-device-width: $min-device-width)
    and (max-device-width: $min-device-width)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      padding: 100px $min-section-padding;
    }
}

.title-text-container {
  margin-bottom: 80px;
}

.title-text {
  background-color: $dark-gray;
  border-radius: 3px;
  font-family: $font-family-section-title;
  height: 20px;
  margin-bottom: 30px;
  width: 500px;
}

.hero-button-container {
  display: flex;
  flex-direction: column;

  @media screen and (max-width: $media-min-width) {
    align-items: center;
    min-width: 380px;
  }
}

.hero .button {
  height: 50px;
  width: 200px;
}

.hero .button:not(:last-child) {
  margin-bottom: 30px;
}

