.meet-our-vets {
  align-items: center;
  border-bottom: 2px solid $section-border-color;
  display: flex;
  justify-content: space-between;
  padding: 70px $max-section-padding;

  @media screen and (max-width: $media-mid-width) and (min-width: $media-min-width) {
    padding: 100px $mid-section-padding;
  }

  @media screen and (max-width: $media-min-width) {
    padding: 80px $min-section-padding;
    min-width: 380px;
  }

  @media only screen
    and (max-device-width: $min-device-width)
    and (min-device-width: $min-device-width)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
      padding: 80px $min-section-padding;
    }
}

.vet-example {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.vet-photo {
  background-color: $medium-gray;
  border-radius: 100%;
  margin-bottom: 50px;
  height: 240px;
  width: 240px;

  @media screen and (max-width: $media-min-width) {
    margin-bottom: 70px;
  }
}

.vet-name {
  background-color: $dark-gray;
  border-radius: 3px;
  height: 20px;
  margin-bottom: 20px;
  width: 300px;

  @media screen and (max-width: $media-min-width) {
    width: 250px;
  }
}

.vet-bio {
  background-color: $medium-gray;
  border-radius: 3px;
  height: 10px;
  width: 480px;

  @media screen and (max-width: $media-min-width) {
    width: 380px;
  }

    @media only screen
      and (max-device-width: $min-device-width)
      and (min-device-width: $min-device-width)
      and (-webkit-min-device-pixel-ratio: 2)
      and (orientation: portrait) {
        width: 340px;
    }
}

.vet-bio:not(:last-child) {
  margin-bottom: 10px;
}

.fa-chevron-left,
.fa-chevron-right {
  color: $dark-gray;
}

.vet-navigation {
  display: inherit;
  margin-top: 30px;
}

.vet-dot {
  background-color: $dark-gray;
  border-radius: 100%;
  height: 15px;
  width: 15px;
}

.vet-dot:not(:last-child) {
  margin-right: 12px;
}

.vet-dot:nth-child(4) {
  background-color: $light-gray;
}