$dark-gray: hsl(0, 0%, 65%);
$medium-gray: hsl(0, 0%, 75%);
$light-gray: hsl(0, 0%, 85%);
$section-border-color: hsl(0, 0%, 80%);
$background-color-white: hsl(0, 0%, 98%);
$background-color-gray: hsl(0, 0%, 90%);
