$media-max-width: 1100px;
$media-mid-width: 900px;
$media-min-width: 650px;

// devices
$max-device-width: 568px;
$min-device-width: 320px;

// padding
$max-section-padding: 140px;
$mid-section-padding: 60px;
$min-section-padding: 10px;